<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="RefactoringEssentials" version="1.1.0" targetFramework="portable4-net45+sl5+win8+wp8+wpa81" developmentDependency="true" />
  <package id="RabidWarren.Collections" version="1.0.5499.35758" targetFramework="portable-net45+sl5+win8+wp8+wpa81" />
  <package id="StyleCop.MSBuild" version="4.7.49.1" targetFramework="portable-net45+sl5+win8+wp8+wpa81" developmentDependency="true" />
</packages>